{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}

{# Titulo de nuestra aplicacion #}
{% block title %}
Nuevo Festival!
{% endblock %}

{# Contenido de nuestra aplicacion #}
{% block body %}
<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Nuevo Festival</h1>

  <div class="row">
    <div class="col-md-8">
      {{ form_start(form) }}
        {{ form_errors(form) }}
          <div class="control-group form-group">
            {{ form_label(form.nombre) }}
            {{ form_errors(form.nombre) }}
            {{ form_widget(form.nombre) }}
          </div>
          <div class="control-group form-group">
            {{ form_label(form.descripcion) }}
            {{ form_errors(form.descripcion) }}
            {{ form_widget(form.descripcion) }}
          </div>
          <div class="control-group form-group">
            {{ form_label(form.datos) }}
            {{ form_errors(form.datos) }}
            {{ form_widget(form.datos) }}
          </div>
          <div class="control-group form-group">
            {{ form_label(form.fecha) }}
            {{ form_errors(form.fecha) }}
            {{ form_widget(form.fecha) }}
          </div>
          <div class="control-group form-group">
            {{ form_label(form.top) }}
            {{ form_errors(form.top) }}
            {{ form_widget(form.top) }}
          </div>
          <div>
            {{ form_widget(form.salvar) }}
          </div>
        {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
